{% extends 'user_authentication/base.html' %}
{% load crispy_forms_tags %}

{% block style %}
{% endblock  %}

{% block content %}
<form style="width: 30%; margin: auto" method="post" action="{% url 'change-pass' %}">
    {% if messages %}
    {% for m in messages %}
        <div {% if m.tags %} class="{{m.tags}}" {% endif %}><small >{{m}}</small></div>
    {% endfor %}
    {% endif %}

    <h1 class="text-danger">Change Password</h1><br>
    {% csrf_token %}
    <!--{{form|crispy}}-->
    {% for fm in form %}
    <h3>{{ fm.label_tag }}</h3> {{fm}}
    {% endfor %}
    <br>
    <button class="btn btn-warning" type="submit">save</button>
  </form>
</form>
{% endblock  %}